.login-page {
  height: 71vh;

  .login-page-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: inherit;
    .login-page-buttons {
      button {
        width: 11vw;
        height: 4vh;
        color: #000000;
        border: none;
        font-weight: 500;
        font-size: 1.1em;
        outline: none;
        cursor: pointer;
      }
      .sign-up-button {
        background: rgb(157, 64, 28);
        border-bottom-left-radius: 17px;
        border-top-left-radius: 17px;
      }
      .login-button {
        background: rgb(26, 101, 96);
        border-bottom-right-radius: 17px;
        border-top-right-radius: 17px;
      }
    }
    .login-form-containers {
      width: 58vw;
      height: 54vh;
      margin: 0 auto;
      display: flex;

      .form-container {
        height: inherit;
        flex: 1;
        position: relative;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          display: none;
        }

        .login-wrapper {
          width: 29vw;
          height: inherit;
          background: rgba(244, 244, 144, .2);
          position: absolute;
          top: 0;
          left: 0;
          transition: .5s ease;
        }

        .overlay.login-wrapper {
          left: -29vw;
        }

        .sign-up-wrapper {
          width: 29vw;
          height: inherit;
          background: rgba(244, 244, 144, .2);
          position: absolute;
          top: 0;
          right: -29vw;
          transition: .5s ease;
        }

        .slide-away.sign-up-wrapper {
          right: 0;
        }

        form {
          height: inherit;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          input {
            width: 85%;
            padding: 13px;
            margin-bottom: 25px;
            border-radius: 16px;
            border: 1px solid grey;
            font-size: 17px;
            outline: none;
            cursor: pointer;
          }
          input[type='submit'] {
            margin-bottom: 0;
            background: rgb(26, 101, 96);
            border: none;
            font-weight: 500;
            font-size: 1.1em;
            &:hover {
              background: rgb(2, 105, 112);
              color: #ffffff;
            }
          }
          .errorInputStyle {
            margin-bottom: 0;
            border: 1px solid #b31e10;
          }
          .errorMsg {
            width: 90%;
            border-bottom: 1px solid #b31e10;
            color: rgb(179, 30, 16);
            font-weight: 600;
            background-image: linear-gradient(to right, rgba(255, 255, 255, .2) , rgba(255, 255, 255, .5), rgba(255, 255, 255, .7), rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
          }
        }

        .submit-form input[type='submit']{
          background: rgb(157, 64, 28);
          &:hover {
            background:  rgb(166, 65, 37);
          }
        }
      }
    }
  }
}