.login-form-containers {
  width: 600px;
  margin: 0 auto;
  display: flex;
  .form-container {
    flex: 1;
    background: aliceblue;
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .sign-up {
    opacity: 0;
  }
}

.login {
  width: 600px;
}
