body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  background-image: url(../assets/login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &:after {
    width: 100vw;
    height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 0;
  }
}

@media(max-width: 414px) {
  .App {
    overflow-y: auto;
  }
}