body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  background-image: url(../assets/mountains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

@media(max-width: 414px) {
  .App {
    overflow-y: auto;
  }
}