.nav-container {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    a {
      margin: 0 40px;
      text-decoration: none;
      font-size: 1.4em;
      font-weight: 400;
      color: #28311b;
      position: relative;

      &::after {
        width: 0;
        height: 1px;
        display: block;
        content: '';
        background: #506336;
        position: absolute;
        left: 0;
        transition: .5s ease;
      }

      &:hover {
        color: #506336;

        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    button {
      width: 138px;
      padding: 5px 0;
      font-size: 1.3em;
      color: #28311b;
      background: transparent;
      border: 1px solid #28311b;
      border-radius: 20px;
      height: auto;
      display: flex;
      justify-content: center;
      align-self: center;
      outline: none;
      cursor: pointer;

      &:hover {
        color: #506336;
        border: 1px solid #506336;
      }
    }
  }
  .mobile-nav-container {
    width: 40px;
    height: auto;
    cursor: pointer;
    display: none;
    .icon-line {
      content: '';
      width: 40px;
      height: 3px;
      opacity: 1;
      background-color: rgba(255, 255, 255, .6);
      position: relative;
      z-index: 1;
      transition: 0.4s;
      &:nth-child(2) {
        margin: 6px 0;
      }
    }
    .line-one {
      transform: rotate(35deg) translate(3px, 11px);
    }
    .line-two {
      opacity: 0;
    }
    .line-three {
      transform: rotate(-35deg) translate(-1px, -9px);
    }
  }
}

@media(max-width: 1041px) {
  .nav-container {
    .link-container {
      display: none;
      flex-direction: column;
      a {
        width: auto;
        font-size: 2.3em;
        &:hover {
          width: auto;
        }
      }
      button {
        width: 16vw;
        font-size: 2em;
        border-radius: 35px;
      }
    }
    .link-container.show-nav {
      display: flex;
      height: 52vh;
      justify-content: space-evenly;
    }
    .mobile-nav-container {
      display: block;
    }
  }
  .nav-container.open {
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: flex-start;
  }

}


