.trails-container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  .trails-header {
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .tr-header-title {
      font-size: 68px;
      text-decoration: overline;
      color: #28311b;
      background-color: rgba(255, 255, 255, .5);
    }
  }
  .trails-wrapper {
    height: 100%;
    background-color: #ffffff;
    .hiking-side {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .tr-text {
        width: 90%;
        text-align: left;
      }
    }

    .bike-side {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .tr-text {
        width: 90%;
        text-align: right;
      }
    }

    .tr-title {
      font-size: 24px;
      text-decoration: underline;
    }
  }
}